.cart {
  overflow-x: hidden;
}
.cart .top {
  display: flex;
  justify-content: space-between;
  padding: 30rpx 20rpx;
}
.cart .top div {
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png) 0 center no-repeat;
  background-size: 10rpx;
  padding-left: 15rpx;
  display: flex;
  align-items: center;
  font-size: 25rpx;
  color: #666;
}
.cart .cartlist {
  background: #fff;
  margin-bottom: 110rpx;
}
.cart .cartlist .item {
  padding: 20rpx 0;
  border-bottom: 1rpx solid #f4f4f4;
  height: 166rpx;
  position: relative;
}
.cart .cartlist .item .con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms ease;
}
.cart .cartlist .item .con .left {
  display: flex;
  align-items: center;
  width: 80%;
}
.cart .cartlist .item .con .left .icon {
  height: 125rpx;
  width: 34rpx;
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat center center;
  background-size: 34rpx 34rpx;
  margin: 0 20rpx;
}
.cart .cartlist .item .con .left .icon.active {
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat center center;
  background-size: 34rpx 34rpx;
}
.cart .cartlist .item .con .left .img {
  height: 125rpx;
  width: 125rpx;
  display: block;
  background: #f4f4f4;
}
.cart .cartlist .item .con .left .img img {
  width: 100%;
  height: 100%;
}
.cart .cartlist .item .con .left .info {
  width: 50%;
  padding: 20rpx;
}
.cart .cartlist .item .con .left .info p {
  line-height: 40rpx;
}
.cart .cartlist .item .con .right {
  padding-right: 50rpx;
}
.cart .cartlist .item .delete {
  position: absolute;
  width: 100rpx;
  top: 0;
  right: -100rpx;
  text-align: center;
  height: 100%;
  background: #b4282d;
  color: #fff;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .cartlist .item .delete div {
  color: #fff;
}
.cart .fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100rpx;
  line-height: 100rpx;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .fixed .left {
  display: flex;
  align-items: center;
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png) no-repeat;
  background-size: 34rpx 34rpx;
  background-position: 20rpx;
  padding-left: 70rpx;
}
.cart .fixed .active {
  background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png) no-repeat;
  background-size: 34rpx 34rpx;
  background-position: 20rpx;
}
.cart .fixed .right {
  display: flex;
}
.cart .fixed .right div:nth-child(1) {
  color: #b4282d;
  padding-right: 40rpx;
}
.cart .fixed .right div:nth-child(2) {
  width: 200rpx;
  height: 100rpx;
  text-align: center;
  line-height: 100rpx;
  font-size: 29rpx;
  background: #b4282d;
  color: #fff;
}
.cart .nogoods {
  margin-top: 200rpx;
}
.cart .nogoods img {
  margin: 0 auto;
  display: block;
  width: 258rpx;
  height: 258rpx;
}
